.sheetShadowHover:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
}

.sheet0 {
    padding: 17.25rem;
}

.sheet1 {
    padding: 17rem;
}

.sheet2 {
    padding: 16.75rem;
}

.sheet3 {
    padding: 16.5rem;
}

.sheet4 {
    padding: 16rem;
}

.sheet5 {
    padding: 15rem;
}

.sheet6 {
    padding: 14rem;
}

.sheet7 {
    padding: 13rem;
}

.sheet8 {
    padding: 12rem;
}


.sheet9 {
    padding: 11rem;
}


.sheet10 {
    padding: 10rem;
}


.sheet11 {
    padding: 9rem;
}
