@tailwind utilities;

:root {
	--fontSizeBase: 16px;
}

* {
	box-sizing: border-box;
  font-family: "Montserrat";
  outline: none;
}

html {
	font-size: var(--fontSizeBase) !important;
}

body {
	font-size: 1rem !important;
}

/*
	Gradients
*/

.bg-gradient-green {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.bg-gradient-orange {
	background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

.bg-gradient-purple {
	background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
}

.bg-gradient-blue {
	background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}

.bg-gradient-grey {
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

/*
	Transition
*/
.transition-fast {
	transition: all 200ms ease-in-out;
}

.transition {
	transition: all 450ms ease-in-out;
}

.transition-slow {
	transition: all 750ms ease-in-out;
}


/*
	Shine animation
*/
.changedAnimation {
	overflow: hidden;
}

.changedAnimation::after,
.changedAnimation::before {
  z-index: 5;
  content: " ";
  position: absolute;
  top: 0;
  left: -200%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.15;
  transform: skew(-5deg);
  animation: shine 550ms ease-in-out;  
}

.changedAnimation::after {
  animation-delay: 100ms;
}

@keyframes shine {
  from {
    left: -200%;
  }
  
  to {
    left: 200%;
  }
}

/*
  Title
*/

.title__d {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-blend-mode: screen;
  mix-blend-mode: darken;
  opacity: 1;
}

.title {
  font-family: "Bifur", "Righteous", cursive;
  color: yellow;
  top: 0;
  left: 0;
}

.title,
.title::after,
.title::before {
  mix-blend-mode: multiply;
  position: absolute;
}


.title::after,
.title::before {
  content: attr(data-content);
}

.title::after {
 color: cyan;
 top: 3%;
  left: -1%;
}
.title::before {
  color: magenta;
  top: -3%;
}

.title__d1 {
  left: 5%;
  background-color: cyan;
}

.title__d2 {
  top: 2px;
  background-color: yellow;
}

.title__d3{
  top:-5%;
  left: -2px;
  background-color: magenta;
}
